section#about.about
	// ======= About Me =======
	.about-me.container
		.section-title
			h2 About
			|         
			p Learn more about me
			|       
		.row
			.col-lg-4(data-aos='fade-right')
				img.img-fluid(src='/img/me.jpg', alt='')
			|         
			.col-lg-8.pt-4.pt-lg-0.content(data-aos='fade-left')
				h3 Full Stack Developer
				|           
				p.font-italic
				| I am just a developer who love to create simple and beautiful systems. I like challenges so that's why I am in love with what I do.
				|           
				.row
				.col-lg-10
					ul                
					li
						//- i.icofont-rounded-right
						//- |  
						strong Website:
						|  https://kshitjportfolio.herokuapp.com
					|                 
					//- li
					//- 	i.icofont-rounded-right
					//- 	|  
					//- 	strong Phone:
					//- 	|  +91 8262853885
					//- |                 
					li
						//- i.icofont-rounded-right
						//- |  
						strong City:
						|  City : Shimla, India
				|             
				.col-lg-10
					ul                
					li
						//- i.icofont-rounded-right
						//- |  
						strong Degree:
						|  B.Tech
					|                 
					li
						//- i.icofont-rounded-right
						//- |  
						strong Email:
						|  kshtjsharma68@gmail.com
					|                 
					li
						//- i.icofont-rounded-right
						//- |  
						strong Freelance:
						|  Available
				|           
				p
				| I am a system architect who enjoys playing with system nodes and accomplish a task with simplicity. 
	// End About Me
	// ======= Counts =======
	.counts.container
		.row
			.col-lg-3.col-md-6
				.count-box
					i.icofont-simple-smile
					|             
					span(data-toggle='counter-up') 54
					|             
					p Happy Clients
					//-  &#128522
				|         
			.col-lg-3.col-md-6.mt-5.mt-md-0
				.count-box
					i.icofont-document-folder
					|             
					span(data-toggle='counter-up') 72
					|             
					p Projects
				|         
			.col-lg-3.col-md-6.mt-5.mt-lg-0
				.count-box
					i.icofont-live-support
					|             
					span(data-toggle='counter-up') 16000
					|             
					p Hours Of Work
				|         
			.col-lg-3.col-md-6.mt-5.mt-lg-0
				.count-box
					i.icofont-users-alt-5
					|             
					span(data-toggle='counter-up') 15
					|             
					p Teams
	// End Counts
	// ======= Skills  =======
	.skills.container
		.section-title
			h2 Skills
			|       
		.row.skills-content
			.col-lg-6
				.progress
					span.skill
						| HTML 
						i.val 90%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 90%")
				|           
				.progress
					span.skill
						| CSS 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100' style="width: 80%")
				|           
				.progress
					span.skill
						| JavaScript / jQuery
						i.val 90%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100' style="width: 90%")
				|
				.progress
					span.skill
						| Bootstrap 
						i.val 90%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100' style="width: 90%")
				|  
				.progress
					span.skill
						| Twilio 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 90%") 
				|	    
				.progress
					span.skill
						| Airtable 
						i.val 80%
					|   
			|         
			.col-lg-6
				.progress
					span.skill
						| PHP ( Laravel / Lumen )
						i.val 90%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 90%")
				|           
				.progress
					span.skill
						| NodeJs ( ExpressJs ) 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100' style="width: 80%")
				| 
				.progress
					span.skill
						| Mysql 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 80%")
				|
				.progress
					span.skill
						| React 
						i.val 90%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 90%")   
				|
				.progress
					span.skill
						| Vue 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 80%")   
				|
				.progress
					span.skill
						| NestJs 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 90%") 
				|
				.progress
					span.skill
						| ElectronJs 
						i.val 80%
					|             
				.progress-bar-wrap
					.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100' style="width: 90%")       
				
	// End Skills
	// ======= Interests =======
	.interests.container
		.section-title
			h2 Interests
			|       
		.row
			.col-lg-3.col-md-4
				.icon-box
					i.ri-folder-line(style='color: #ffbb2c;')
					|             
					h3 Reading
				|         
			.col-lg-3.col-md-4.mt-4.mt-md-0
				.icon-box
					i.ri-disc-line(style='color: #5578ff;')
					|             
					h3 Listening Music
				|         
			.col-lg-3.col-md-4.mt-4.mt-md-0
				.icon-box
					i.ri-walk-line(style='color: #e80368;')
					|             
					h3 Hiking
				|         
			.col-lg-3.col-md-4.mt-4.mt-lg-0
				.icon-box
					i.ri-paint-brush-line(style='color: #e361ff;')
					|             
					h3 painting
				|         
			.col-lg-3.col-md-4.mt-4
				.icon-box
					i.ri-database-2-line(style='color: #47aeff;')
					|             
					h3 Development
				|         
			.col-lg-3.col-md-4.mt-4
				.icon-box
					i.ri-terminal-window-fill(style='color: #ffa76e;')
					|             
					h3 Photography
				|         
			.col-lg-3.col-md-4.mt-4
				.icon-box
					i.ri-file-list-3-line(style='color: #11dbcf;')
					|             
					h3 Drawing
				|         
			.col-lg-3.col-md-4.mt-4
				.icon-box
					i.ri-navigation-fill(style='color: #4233ff;')
					|             
					h3 Cycling
				|         
			.col-lg-3.col-md-4.mt-4
				.icon-box
					i.ri-file-music-fill(style='color: #b2904f;')
					|             
					h3 Ukulele
				|         
			.col-lg-3.col-md-4.mt-4
				.icon-box
					i.ri-rainbow-fill(style='color: #b20969;')
					|             
					h3 Gardening
				|         
