// ======= Portfolio Section =======
section#portfolio.portfolio
    .container
        .section-title
            h2 Portfolio
            |         
            p My Works
            |       
        .row
            .col-lg-12.d-flex.justify-content-center
                ul#portfolio-flters
                    li.filter-active(data-filter='*') All
                    |             
                    li(data-filter='.filter-laravel') Laravel
                    |             
                    li(data-filter='.filter-twilio') Twilio
                    |             
                    li(data-filter='.filter-js') React / Javascript 
                    |
                    li(data-filter='.filter-webflow') Webflow
                |       
        .row.portfolio-container
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-1.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Beadclub
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-1.jpg', data-gall='portfolioGallery', title='App 1')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/1', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-2.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 KitCheck
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-2.jpg', data-gall='portfolioGallery', title='Web 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/2', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-3.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Anasa Psychics
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-3.jpg', data-gall='portfolioGallery', title='App 2')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/3', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-twilio
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-3.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Anasa Psychics
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-3.jpg', data-gall='portfolioGallery', title='App 2')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/3', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-5.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 SPP
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-5.jpg', data-gall='portfolioGallery', title='Web 2')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/4', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-4.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Biramedia
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-4.jpg', data-gall='portfolioGallery', title='Card 2')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/4', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-js
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-4.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Biramedia
                        |               
                        p React
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-4.jpg', data-gall='portfolioGallery', title='Card 2')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/4', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
                   
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-6.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 AltSignals
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-6.jpg', data-gall='portfolioGallery', title='App 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |
            .col-lg-4.col-md-6.portfolio-item.filter-webflow
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-6.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 AltSignals
                        |               
                        p Webflow
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-6.jpg', data-gall='portfolioGallery', title='App 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-7.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Mobile Car Wash
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-7.jpg', data-gall='portfolioGallery', title='Card 1')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |   
            .col-lg-4.col-md-6.portfolio-item.filter-js
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-7.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Mobile Car Wash
                        |               
                        p React
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-7.jpg', data-gall='portfolioGallery', title='Card 1')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |       
            .col-lg-4.col-md-6.portfolio-item.filter-twilio
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-8.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 DialExcel
                        |               
                        p Twilio
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-8.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 DialExcel
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-twilio
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-8.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Multi Line Dialer
                        |               
                        p Twilio
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-8.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Multi Line Dialer
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-9.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Spectage
                        |               
                        p Laravel 
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-9.jpg', data-gall='portfolioGallery', title='Web 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/5', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-js
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/portfolio-9.jpg', alt='')
                    |             
                    .portfolio-info
                        h4 Spectage
                        |               
                        p React
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/portfolio-9.jpg', data-gall='portfolioGallery', title='Web 3')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/5', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
    // End Portfolio Section