// ======= Portfolio Section =======
section#portfolio.portfolio
    .container
        .section-title
            h2 Portfolio
            |         
            p My Works
            |       
        .row
            .col-lg-12.d-flex.justify-content-center
                ul#portfolio-flters
                    li.filter-active(data-filter='*') All
                    |             
                    li(data-filter='.filter-laravel') Laravel
                    |             
                    li(data-filter='.filter-twilio') Twilio
                    |             
                    li(data-filter='.filter-js') React / Javascript 
                    |
                    li(data-filter='.filter-webflow') Webflow
                |       
        .row.portfolio-container
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/Beardclub.png', alt='beardclub')
                    |             
                    .portfolio-info
                        h4 Beadclub
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/Beardclub.png', data-gall='portfolioGallery', title='Beardclub')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/1', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/kitcheck.png', alt='KitCheck')
                    |             
                    .portfolio-info
                        h4 KitCheck
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/kitcheck.png', data-gall='portfolioGallery', title='Kitcheck')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/2', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/anasapsychics.png', alt='AnasaPsychics')
                    |             
                    .portfolio-info
                        h4 Anasa Psychics
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/anasapsychics.png', data-gall='portfolioGallery', title='AnasaPsychics')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/3', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-twilio
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/anasapsychics.png', alt='AnasaPsychics')
                    |             
                    .portfolio-info
                        h4 Anasa Psychics
                        |               
                        p Twilio
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/anasapsychics.png', data-gall='portfolioGallery', title='AnasaPsychics')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/3', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/spp.png', alt='SPP')
                    |             
                    .portfolio-info
                        h4 SPP
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/spp.png', data-gall='portfolioGallery', title='SPP')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/4', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/biramedia.png', alt='Biramedia')
                    |             
                    .portfolio-info
                        h4 Biramedia
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/biramedia.png', data-gall='portfolioGallery', title='Biramedia')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/9', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-js
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/biramedia.png', alt='Biramedia')
                    |             
                    .portfolio-info
                        h4 Biramedia
                        |               
                        p React
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/biramedia.png', data-gall='portfolioGallery', title='Biramedia')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/9', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
                   
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/altsignals.png', alt='AltSignals')
                    |             
                    .portfolio-info
                        h4 AltSignals
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/altsignals.png', data-gall='portfolioGallery', title='AltSignals')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/6', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |
            .col-lg-4.col-md-6.portfolio-item.filter-webflow
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/altsignals.png', alt='AltSignals')
                    |             
                    .portfolio-info
                        h4 AltSignals
                        |               
                        p Webflow
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/altsignals.png', data-gall='portfolioGallery', title='AltSignals')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/6', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/carwash.png', alt='Mobile Car Wash')
                    |             
                    .portfolio-info
                        h4 Mobile Car Wash
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/carwash.png', data-gall='portfolioGallery', title='Mobile Car Wash')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/7', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |   
            .col-lg-4.col-md-6.portfolio-item.filter-js
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/carwash.png', alt='Mobile Car Wash')
                    |             
                    .portfolio-info
                        h4 Mobile Car Wash
                        |               
                        p React
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/carwash.png', data-gall='portfolioGallery', title='Mobile Car Wash')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/7', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    |       
            .col-lg-4.col-md-6.portfolio-item.filter-twilio
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/dialexcel.png', alt='Dial Excel')
                    |             
                    .portfolio-info
                        h4 DialExcel
                        |               
                        p Twilio
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/dialexcel.png', data-gall='portfolioGallery', title='Dial Excel')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/8', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/dialexcel.png', alt='Dial Excel')
                    |             
                    .portfolio-info
                        h4 DialExcel
                        |               
                        p Laravel
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/dialexcel.png', data-gall='portfolioGallery', title='Dial Excel')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/8', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
                    | 
            //- .col-lg-4.col-md-6.portfolio-item.filter-twilio
            //-     .portfolio-wrap
            //-         img.img-fluid(src='/img/portfolio/portfolio-8.jpg', alt='')
            //-         |             
            //-         .portfolio-info
            //-             h4 Multi Line Dialer
            //-             |               
            //-             p Twilio
            //-             |               
            //-             .portfolio-links
            //-                 a.venobox(href='/img/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
            //-                     i.bx.bx-plus
            //-                 |                 
            //-                 a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
            //-                     i.bx.bx-link
            //-         | 
            //- .col-lg-4.col-md-6.portfolio-item.filter-laravel
            //-     .portfolio-wrap
            //-         img.img-fluid(src='/img/portfolio/portfolio-8.jpg', alt='')
            //-         |             
            //-         .portfolio-info
            //-             h4 Multi Line Dialer
            //-             |               
            //-             p Laravel
            //-             |               
            //-             .portfolio-links
            //-                 a.venobox(href='/img/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
            //-                     i.bx.bx-plus
            //-                 |                 
            //-                 a.venobox(href='/project', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
            //-                     i.bx.bx-link
            //-         |         
            .col-lg-4.col-md-6.portfolio-item.filter-laravel
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/spectage.png', alt='Spectage')
                    |             
                    .portfolio-info
                        h4 Spectage
                        |               
                        p Laravel 
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/spectage.png', data-gall='portfolioGallery', title='Spectage')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/5', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-js
                .portfolio-wrap
                    img.img-fluid(src='/img/portfolio/spectage.png', alt='Spectage')
                    |             
                    .portfolio-info
                        h4 Spectage
                        |               
                        p React
                        |               
                        .portfolio-links
                            a.venobox(href='/img/portfolio/spectage.png', data-gall='portfolioGallery', title='Spectage')
                                i.bx.bx-plus
                            |                 
                            a.venobox(href='/project/5', data-gall='portfolioDetailsGallery', data-vbtype='iframe', title='Portfolio Details')
                                i.bx.bx-link
    // End Portfolio Section