section#resume.resume
    .container
        .section-title
            h2 Resume
            |         
            p Check My Resume
            |       
        .row
            .col-lg-6
                h3.resume-title Summary
                |           
                .resume-item.pb-0
                    h4 Kshitij Sharma
                    |             
                    p
                        em
                        | Innovative and deadline-driven Full stack developer with 5+ years of experience designing and developing simple and strong from initial concept to final, polished deliverable systems.
                    |             
                    p
                    ul
                        li Zasya Solutions, Shimla INDIA
                        |               
                        li +91 82628-53885
                        |               
                        li kshtjsharma68@gmail.com
                    |             
                    p
                    |           
                h3.resume-title Education
                |           
                .resume-item
                    h4 Post Graduate Diploma In Computer Science
                    |             
                    h5 2013 - 2014
                    |             
                    p
                        em NIIT Hamirpur
                    |             
                    p
                        | Basic to Advance course which envolves introduction to system structure, pragramming languages, data structure, compiler and interpreter and many more.
                    |           
                .resume-item
                    h4 Bachelor of Technology Electronics &amp; Communication
                    |             
                    h5 2008 - 2012
                    |             
                    p
                        em Rayat &amp; Bahra Institute of Engineering &amp; technology Hoshiarpur
                    |             
                    p
                        | Advance knowledge of basic concepts of technologies and real world issues. Understanding of how to approach a problem and resolve it maximum risk management. Able to understand how information flow works and how data systems are designed. Approach to tackle the problem and reach the root before trying to solve it.
                |         
            .col-lg-6
                h3.resume-title Professional Experience
                |           
                .resume-item
                    h4 Backend Developer
                    |             
                    h5 2015 - 2017
                    |             
                    p
                        em Zasya Solutions, Shimla, INDIA
                    |             
                    p
                    ul
                        li  Lead in the design, development, and implementation of the  backend structure and creating a system to communicate with database and other api's with efficiency for various products
                        |               
                        li  Delegate tasks to manage payments, orders and transactions.
                        |               
                        li  Supervise the flexibility and optimised performance of the system like data transfer, UI interations and query operations
                        |               
                        li  Oversee the efficient use of production project budgets
                    |             
                    p
                    |           
                .resume-item
                    h4 Javascript and Laravel Developer
                    |             
                    h5 2017 - 2019
                    |             
                    p
                        em Zasya Solutions, Shimla, INDIA
                    |             
                    p
                    ul
                        li
                            | Developed numerous programs ranging from UI based tasks to full backend operations.
                        |               
                        li 
                            | Managed up to 4 projects or tasks at a given time while under pressure
                        |               
                        li  Recommended and consulted with clients on the most appropriate system architecture and best UX.
                        |               
                        li  Created numerous systems having simple architecture and vast operations like twilio based system, blockchain based system and many more..
                    |             
                    p
                .resume-item
                    h4 Full Stack Developer
                    |             
                    h5 2019 - Present
                    |             
                    p
                        em Zasya Solutions, Shimla, INDIA
                    |             
                    p
                    ul
                        li  Handled total Management of projects from UI design to full system architecture keeping happy clients in loop.
                        |               
                        li  Team management and task handling keeping deadline in mind using tools like JIRA, ClickUp ...
                        |               
                        li  Worked on projects using multiple frameworks like React, Lumen, ExpressJs
                        |               
                        li  My Goal is to provide good and simple product with flexible architecture &amp; fast &amp; optimised operations
                    |             
                    p
