section#resume.resume
    .container
        .section-title
            h2 Resume
            |         
            p Check My Resume
            |       
        .row
            .col-lg-6
                h3.resume-title Summary
                |           
                .resume-item.pb-0
                    h4 Kshitij Sharma
                    |             
                    p
                        em
                        | Innovative and deadline-driven Full stack developer with 5+ years of experience designing and developing simple and strong systems from initial concept to final, polished deliverable.
                    |             
                    p
                    ul
                        li Zasya Solutions, Shimla INDIA
                        |               
                        li +91 82628-53885
                        |               
                        li kshtjsharma68@gmail.com
                    |             
                    p
                    |           
                h3.resume-title Education
                |           
                .resume-item
                    h4 Post Graduate Diploma &amp; Computer Science
                    |             
                    h5 2013 - 2014
                    |             
                    p
                        em NIIT Hamirpur
                    |             
                    p
                        | Basic to Advance course which envolves introduction to system structure, pragramming languages, data structure, compiler and interpreter and many more.
                    |           
                .resume-item
                    h4 Bachelor of Technology &amp; Electronics
                    |             
                    h5 2008 - 2012
                    |             
                    p
                        em Rayat &amp; Bahra Institute of Engineering &amp; technology Hoshiarpur
                    |             
                    p
                        | Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila
                |         
            .col-lg-6
                h3.resume-title Professional Experience
                |           
                .resume-item
                    h4 Full Stack Developer
                    |             
                    h5 2016 - Present
                    |             
                    p
                        em Zasya Solutions, Shimla, INDIA
                    |             
                    p
                    ul
                        li
                        | Lead in the design, development, and implementation of the graphic, layout, and production communication materials
                        |               
                        li
                        | Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.
                        |               
                        li
                        | Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design
                        |               
                        li
                        | Oversee the efficient use of production project budgets ranging from $2,000 - $25,000
                    |             
                    p
                    |           
                .resume-item
                    h4 Graphic design specialist
                    |             
                    h5 2017 - 2018
                    |             
                    p
                        em Stepping Stone Advertising, New York, NY
                    |             
                    p
                    ul
                        li
                        | Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).
                        |               
                        li Managed up to 5 projects or tasks at a given time while under pressure
                        |               
                        li Recommended and consulted with clients on the most appropriate graphic design
                        |               
                        li
                        | Created 4+ design presentations and proposals a month for clients and account managers
                    |             
                    p
