section#services.services
    .container
        .section-title
            h2 Services
            |         
            p My Services
            |       
        .row
            .col-lg-4.col-md-6.d-flex.align-items-stretch
                .icon-box
                    .icon
                        i.bx.bxl-html5
                    |             
                    h4
                        a(href='javascript:void(0);') HTML
                    |             
                    p  Markup language used for structuring and presenting content on the World Wide Web
                    
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0
                .icon-box
                    .icon
                        i.bx.bxl-css3
                    |             
                    h4
                        a(href='javascript:void(0);') CSS
                    |             
                    p  Style sheet language used for describing the presentation of a document written in a markup language 
                |         
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0
                .icon-box
                    .icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: scaleX(-1)msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);")
                            path(d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z")
                    |             
                    h4
                        a(href='javascript:void(0);') TAILWIND 
                    |             
                    p A utility-first CSS framework for rapidly building custom user interfaces
                |         
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-bootstrap
                    |             
                    h4
                        a(href='javascript:void(0);') BOOTSTRAP
                    |             
                    p Free and open-source CSS framework directed at responsive, mobile-first front-end web development.
                |         
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-javascript
                    |             
                    h4
                        a(href='javascript:void(0);') JAVASCRIPT 
                    |             
                    p Text-based programming language used both on the client-side and server-side that allows you to make web pages interactive
                |  
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-jquery
                    |             
                    h4
                        a(href='javascript:void(0);') JQUERY
                    |             
                    p JavaScript library designed to simplify HTML DOM tree traversal and manipulation
                |        
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-react
                    |             
                    h4
                        a(href='javascript:void(0);') REACT
                    |             
                    p Free and open-source front-end JavaScript library for building user interfaces or UI components
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-redux
                    |             
                    h4
                        a(href='javascript:void(0);') REDUX SAGA
                    |             
                    p Middleware library used to allow a Redux store to interact with resources outside of itself asynchronously
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;")
                            path(d="M2.15 16.78h1.57a.14.14 0 0 0 .14-.12l.35-1.82h1.22a4.88 4.88 0 0 0 1.51-.2A2.79 2.79 0 0 0 8 14a3.18 3.18 0 0 0 .67-.85 3.43 3.43 0 0 0 .36-1 2.43 2.43 0 0 0-.41-2.16 2.64 2.64 0 0 0-2.09-.78h-3a.16.16 0 0 0-.15.13L2 16.6a.19.19 0 0 0 0 .13.17.17 0 0 0 .15.05zM5 10.62h1a1.45 1.45 0 0 1 1.08.29c.17.18.2.52.11 1a1.81 1.81 0 0 1-.57 1.12 2.17 2.17 0 0 1-1.33.33h-.8zm9.8-.95a2.7 2.7 0 0 0-1.88-.51h-1.19l.33-1.76a.15.15 0 0 0 0-.13.16.16 0 0 0-.11 0h-1.57a.14.14 0 0 0-.14.12l-1.38 7.27a.13.13 0 0 0 0 .12.13.13 0 0 0 .11.06h1.54a.14.14 0 0 0 .14-.13l.77-4.07h1.11c.45 0 .61.1.66.16a.81.81 0 0 1 0 .62l-.61 3.24a.13.13 0 0 0 0 .12.14.14 0 0 0 .11.06h1.56a.16.16 0 0 0 .15-.13l.64-3.4a1.7 1.7 0 0 0-.24-1.64zm4.52-.51h-3.13a.14.14 0 0 0-.15.13l-1.46 7.31a.16.16 0 0 0 0 .13.14.14 0 0 0 .11.05h1.63a.14.14 0 0 0 .15-.12l.37-1.82h1.27a5.28 5.28 0 0 0 1.56-.2 3 3 0 0 0 1.18-.64 3.31 3.31 0 0 0 .7-.85 3.45 3.45 0 0 0 .37-1 2.38 2.38 0 0 0-.42-2.16 2.81 2.81 0 0 0-2.18-.83zm.62 2.77a1.83 1.83 0 0 1-.6 1.12 2.28 2.28 0 0 1-1.37.33h-.8l.54-2.76h1a1.6 1.6 0 0 1 1.13.29c.16.18.16.52.1 1.02z")
                    |             
                    h4
                        a(href='javascript:void(0);') PHP 
                    |             
                    p A general-purpose scripting language geared towards web development.
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;")
                            path(d="M2.15 16.78h1.57a.14.14 0 0 0 .14-.12l.35-1.82h1.22a4.88 4.88 0 0 0 1.51-.2A2.79 2.79 0 0 0 8 14a3.18 3.18 0 0 0 .67-.85 3.43 3.43 0 0 0 .36-1 2.43 2.43 0 0 0-.41-2.16 2.64 2.64 0 0 0-2.09-.78h-3a.16.16 0 0 0-.15.13L2 16.6a.19.19 0 0 0 0 .13.17.17 0 0 0 .15.05zM5 10.62h1a1.45 1.45 0 0 1 1.08.29c.17.18.2.52.11 1a1.81 1.81 0 0 1-.57 1.12 2.17 2.17 0 0 1-1.33.33h-.8zm9.8-.95a2.7 2.7 0 0 0-1.88-.51h-1.19l.33-1.76a.15.15 0 0 0 0-.13.16.16 0 0 0-.11 0h-1.57a.14.14 0 0 0-.14.12l-1.38 7.27a.13.13 0 0 0 0 .12.13.13 0 0 0 .11.06h1.54a.14.14 0 0 0 .14-.13l.77-4.07h1.11c.45 0 .61.1.66.16a.81.81 0 0 1 0 .62l-.61 3.24a.13.13 0 0 0 0 .12.14.14 0 0 0 .11.06h1.56a.16.16 0 0 0 .15-.13l.64-3.4a1.7 1.7 0 0 0-.24-1.64zm4.52-.51h-3.13a.14.14 0 0 0-.15.13l-1.46 7.31a.16.16 0 0 0 0 .13.14.14 0 0 0 .11.05h1.63a.14.14 0 0 0 .15-.12l.37-1.82h1.27a5.28 5.28 0 0 0 1.56-.2 3 3 0 0 0 1.18-.64 3.31 3.31 0 0 0 .7-.85 3.45 3.45 0 0 0 .37-1 2.38 2.38 0 0 0-.42-2.16 2.81 2.81 0 0 0-2.18-.83zm.62 2.77a1.83 1.83 0 0 1-.6 1.12 2.28 2.28 0 0 1-1.37.33h-.8l.54-2.76h1a1.6 1.6 0 0 1 1.13.29c.16.18.16.52.1 1.02z")
                    |             
                    h4
                        a(href='javascript:void(0);') LARAVEL
                    |             
                    p Open-source PHP web framework intended for the development of web applications following the model–view–controller architectural pattern
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;")
                            path(d="M2.15 16.78h1.57a.14.14 0 0 0 .14-.12l.35-1.82h1.22a4.88 4.88 0 0 0 1.51-.2A2.79 2.79 0 0 0 8 14a3.18 3.18 0 0 0 .67-.85 3.43 3.43 0 0 0 .36-1 2.43 2.43 0 0 0-.41-2.16 2.64 2.64 0 0 0-2.09-.78h-3a.16.16 0 0 0-.15.13L2 16.6a.19.19 0 0 0 0 .13.17.17 0 0 0 .15.05zM5 10.62h1a1.45 1.45 0 0 1 1.08.29c.17.18.2.52.11 1a1.81 1.81 0 0 1-.57 1.12 2.17 2.17 0 0 1-1.33.33h-.8zm9.8-.95a2.7 2.7 0 0 0-1.88-.51h-1.19l.33-1.76a.15.15 0 0 0 0-.13.16.16 0 0 0-.11 0h-1.57a.14.14 0 0 0-.14.12l-1.38 7.27a.13.13 0 0 0 0 .12.13.13 0 0 0 .11.06h1.54a.14.14 0 0 0 .14-.13l.77-4.07h1.11c.45 0 .61.1.66.16a.81.81 0 0 1 0 .62l-.61 3.24a.13.13 0 0 0 0 .12.14.14 0 0 0 .11.06h1.56a.16.16 0 0 0 .15-.13l.64-3.4a1.7 1.7 0 0 0-.24-1.64zm4.52-.51h-3.13a.14.14 0 0 0-.15.13l-1.46 7.31a.16.16 0 0 0 0 .13.14.14 0 0 0 .11.05h1.63a.14.14 0 0 0 .15-.12l.37-1.82h1.27a5.28 5.28 0 0 0 1.56-.2 3 3 0 0 0 1.18-.64 3.31 3.31 0 0 0 .7-.85 3.45 3.45 0 0 0 .37-1 2.38 2.38 0 0 0-.42-2.16 2.81 2.81 0 0 0-2.18-.83zm.62 2.77a1.83 1.83 0 0 1-.6 1.12 2.28 2.28 0 0 1-1.37.33h-.8l.54-2.76h1a1.6 1.6 0 0 1 1.13.29c.16.18.16.52.1 1.02z")
                    |             
                    h4
                        a(href='javascript:void(0);') LUMEN
                    |             
                    p Micro framework used to build for microservices with loosely coupled components that reduce complexity and enhance the improvements easily.
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-nodejs
                    |             
                    h4
                        a(href='javascript:void(0);') NODEJS
                    |             
                    p AN open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-nodejs
                    |             
                    h4
                        a(href='javascript:void(0);') EXPRESSJS
                    |             
                    p A back end web application framework for Node.js for building web applications and APIs
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;")
                            path(d="M20.17 9.82a4.76 4.76 0 0 0-.84.07 3.12 3.12 0 0 0-1.43-2.14l-.28-.16-.19.27a3.7 3.7 0 0 0-.51 1.19 2.84 2.84 0 0 0 .33 2.22 4.11 4.11 0 0 1-1.45.35H2.63a.63.63 0 0 0-.63.62 9.6 9.6 0 0 0 .58 3.39 5 5 0 0 0 2 2.6 8.86 8.86 0 0 0 4.42.95 13.27 13.27 0 0 0 2.42-.18 10.09 10.09 0 0 0 3.19-1.15A8.9 8.9 0 0 0 16.78 16a11.94 11.94 0 0 0 2.13-3.67h.19a3.08 3.08 0 0 0 2.23-.84 2.36 2.36 0 0 0 .59-.87l.08-.22-.2-.16a2.69 2.69 0 0 0-1.63-.42z")
                            path(d="M5.61 9.35H3.85a.16.16 0 0 0-.16.15v1.58a.16.16 0 0 0 .16.15h1.76a.16.16 0 0 0 .16-.15V9.5a.16.16 0 0 0-.16-.15zm2.44 0H6.28a.16.16 0 0 0-.16.15v1.58a.16.16 0 0 0 .16.15h1.77a.15.15 0 0 0 .15-.15V9.5a.15.15 0 0 0-.15-.15zm2.47 0H8.75a.15.15 0 0 0-.15.15v1.58a.15.15 0 0 0 .15.15h1.77a.15.15 0 0 0 .15-.15V9.5a.15.15 0 0 0-.15-.15zm.67 0a.15.15 0 0 0-.19.15v1.58a.15.15 0 0 0 .15.15H13a.15.15 0 0 0 .15-.15V9.5a.15.15 0 0 0-.15-.15zM6.28 7.09H8a.16.16 0 0 1 .16.16v1.56A.16.16 0 0 1 8 9H6.28a.15.15 0 0 1-.15-.15V7.24a.15.15 0 0 1 .15-.15zm2.47 0h1.77a.15.15 0 0 1 .15.15v1.57a.16.16 0 0 1-.16.16H8.75a.15.15 0 0 1-.15-.15V7.24a.15.15 0 0 1 .15-.15zm2.44 0H13a.15.15 0 0 1 .15.15v1.57A.15.15 0 0 1 13 9h-1.81a.16.16 0 0 1-.19-.19V7.24a.15.15 0 0 1 .19-.15z")
                            rect(x="11.04" y="4.82" width="2.07" height="1.88" rx=".15")
                            path(d="M13.65 9.35a.15.15 0 0 0-.15.15v1.58a.15.15 0 0 0 .15.15h1.77a.15.15 0 0 0 .15-.15V9.5a.15.15 0 0 0-.15-.15z")
                    |             
                    h4
                        a(href='javascript:void(0);') DOCKER
                    |             
                    p A set of platform as a service products that use OS-level virtualization to deliver software in packages called containers
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxs-phone
                    |             
                    h4
                        a(href='javascript:void(0);') TWILIO
                    |             
                    p platform to programmatically make and receive phone calls, send and receive text messages, and perform other communication functions using its web service APIs
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxs-data
                    |             
                    h4
                        a(href='javascript:void(0);') MYSQL
                    |             
                    p An open-source relational database management system
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-git
                    |             
                    h4
                        a(href='javascript:void(0);') GIT
                    |             
                    p Software for tracking changes in any set of files, usually used for coordinating work 
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bxl-mailchimp
                    |             
                    h4
                        a(href='javascript:void(0);') MAILCHIMP
                    |             
                    p Automation platform and email marketing service
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bx-data
                    |             
                    h4
                        a(href='javascript:void(0);') PIPEDRIVE
                    |             
                    p A deal-driven customer relationship management CRM solution that also works as an account-management tool
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bx-data
                    |             
                    h4
                        a(href='javascript:void(0);') AIRTABLE
                    |             
                    p A database management system for handling data handling with help of interactive UI
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bx-data
                    |             
                    h4
                        a(href='javascript:void(0);') VUEJS
                    |             
                    p A javascript library for creating flexible UI component based system 
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bx-data
                    |             
                    h4
                        a(href='javascript:void(0);') ELECTRONJS
                    |             
                    p A Nodejs based platoform to create desktop apps for various OS.
            .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
                .icon-box
                    .icon
                        i.bx.bx-data
                    |             
                    h4
                        a(href='javascript:void(0);') NESTJS
                    |             
                    p A backend framework in nodejs for rebust structural applications.
               
            