
extends ../layouts/main

block content
		// ======= About Section =======
		include ./sections/about
		// End Testimonials
		// End About Section
		// ======= Resume Section =======
		include ./sections/resume
		// End Resume Section
		// ======= Services Section =======
		include ./sections/services
		// End Services Section
		// ======= Portfolio Section =======
		include ./sections/projects
			// End Portfolio Section
		include ./sections/contact		