doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Admin
  // plugins:css
  link(rel='stylesheet' href='/assets/vendors/mdi/css/materialdesignicons.min.css')
  link(rel='stylesheet' href='/assets/vendors/css/vendor.bundle.base.css')
  // endinject
  // Plugin css for this page
  link(rel='stylesheet' href='/assets/vendors/jvectormap/jquery-jvectormap.css')
  link(rel='stylesheet' href='/assets/vendors/flag-icon-css/css/flag-icon.min.css')
    //-   link(rel='stylesheet' href='assets/vendors/owl-carousel-2/owl.carousel.min.css')
  link(rel='stylesheet' href='/assets/vendors/owl-carousel-2/owl.theme.default.min.css')
  // End plugin css for this page
  // inject:css
  // endinject
  // Layout styles
  link(rel='stylesheet' href='/assets/css/style.css')
  // End layout styles
  link(rel='shortcut icon' href='/assets/images/favicon.png')

  block style

.container-scroller
   include ./partials/admin/sidebar
   .container-fluid.page-body-wrapper

        include ./partials/admin/header

        .main-panel
          .content-wrapper
            block content

            // content-wrapper ends
            include  ./partials/admin/footer
// container-scroller
// plugins:js
script(src='/assets/vendors/js/vendor.bundle.base.js')
// endinject
// endinject
// Custom js for this page
script(src='/assets/js/dashboard.js')
block scripts
// End custom js for this page
