
extends ./layouts/main

block content
		// ======= About Section =======
		include ./common/sections/about
		// End About Section
		// ======= Resume Section =======
		include ./common/sections/resume
		// End Resume Section
		// ======= Services Section =======
		include ./common/sections/services
		// End Services Section
		// ======= Portfolio Section =======
		include ./common/sections/projects
			// End Portfolio Section
		include ./common/sections/contact