
// End #main
// ======= Footer =======
footer#footer
	.container
		.copyright
			strong
				span Portfolio
		.credits
			//- a(href='https://bootstrapmade.com/') BootstrapMade
// End  Footer
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
	i.bi.bi-arrow-up-short