
  
// ======= Header =======
header#header.header-tops
	.container
		h1
			a(href='/') kshitij Sharma
		// Uncomment below if you prefer to use an image logo
		// <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
		h2
			| I&apos;m a passionate 
			span full stack developer
			|  from Himachal Pradesh
		|       
		nav.nav-menu.d-none.d-lg-block
			ul
				li.active
					a(href='#header') Home
				|           
				li
					a(href='#about') About
				//- |           
				//- li
				//- 	a(href='#resume') Resume
				//- |           
				//- li
				//- 	a(href='#services') Services
				//- |           
				//- li
				//- 	a(href='#portfolio') Portfolio
				//- |           
				li
					a(href='#contact') Contact
		// .nav-menu
		.social-links
			a.twitter(href='https://twitter.com/kshtjsharma68' target="_blank")
				i.icofont-twitter
			|         
			a.facebook(href='https://www.facebook.com/kshtjsharma68' target="_blank")
				i.icofont-facebook
			|         
			a.instagram(href='https://www.instagram.com/_kshitij_sharma68' target="_blank")
				i.icofont-instagram
			|         
			a.google-plus(href='skype:kshtjsharma68' target="_blank")
				i.icofont-skype
			|         
			a.linkedin(href="https://www.linkedin.com/in/kshitij-sharma-a5ba6431/" target="_blank")
				i.icofont-linkedin
		