extends ../../layouts/project

block content
  
    main#main
        // ======= Portfolio Details =======
        #portfolio-details.portfolio-details
            .container
                .row
                    .col-lg-8
                        //- h2.portfolio-title Beardclub
                        |             
                        .owl-carousel.portfolio-details-carousel
                            img.img-fluid(src='/img/portfolio/biramedia.png', alt='Biramedia')
                            |               
                            //- img.img-fluid(src='/img/portfolio/portfolio-details-2.jpg', alt='')
                            //- |               
                            //- img.img-fluid(src='/img/portfolio/portfolio-details-3.jpg', alt='')
                        |           
                    .col-lg-4.portfolio-info
                        h3 Biramedia
                        |             
                        ul
                            li
                                strong Category
                                | : Web Integration and Backend Architecture
                                |               
                            li
                                strong Client
                                | : Biramedia
                                |               
                            li
                                strong Year
                                | : 2021
                                |               
                            li
                                strong URL
                                | : 
                                a(href='https://biramedia.com/' target="_blank") https://biramedia.com/
                        |             
                        p
                            | Platform to build your brand's image with design and intelligent marketing.
            // End Portfolio Details
        // End #main
