extends ../../layouts/project

block content
  
    main#main
        // ======= Portfolio Details =======
        #portfolio-details.portfolio-details
            .container
                .row
                    .col-lg-8
                        //- h2.portfolio-title Beardclub
                        |             
                        .owl-carousel.portfolio-details-carousel
                            img.img-fluid(src='/img/portfolio/spectage.png', alt='Spectage')
                            |               
                            //- img.img-fluid(src='/img/portfolio/portfolio-details-2.jpg', alt='')
                            //- |               
                            //- img.img-fluid(src='/img/portfolio/portfolio-details-3.jpg', alt='')
                        |           
                    .col-lg-4.portfolio-info
                        h3 Spectage
                        |             
                        ul
                            li
                                strong Category
                                | : React Integration for UI and Backend Architecture with Laravel
                                |               
                            li
                                strong Client
                                | : The Spectage
                                |               
                            li
                                strong Year
                                | : 2021
                                |               
                            li
                                strong URL
                                | : 
                                a(href='http://spectage.com/' target="_blank") http://spectage.com/
                        |             
                        p
                            | Spectage platform is funnel based platform to create page or website linking pages and steps.This platform provide multiple integration features to fast track the process and also host on the platform or you can register custom domain.
            // End Portfolio Details
        // End #main
