extends ../../adminLayout

block content


    .page-header
        h3.page-title  Developers 
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Admin
                li.breadcrumb-item.active(aria-current='page') Developers

    .row.developer-table
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    //- h4.card-title Striped Table
                    button.btn.btn-inverse-primary.btn-fw#add-developer(type='button' style="float: right;")
                        i.mdi.mdi-account-plus
                        | ADD
                    .table-responsive
                        table.table.table-striped
                            thead
                                tr
                                    th  User 
                                    th  First name 
                                    th  Progress 
                                    th  Amount 
                                    th  Deadline 
                            tbody
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-1.png' alt='image')
                                    td  Herman Beck 
                                    td
                                        .progress
                                            .progress-bar.bg-success(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                                    td  $ 77.99 
                                    td  May 15, 2015 
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-2.png' alt='image')
                                    td  Messsy Adam 
                                    td
                                        .progress
                                            .progress-bar.bg-danger(role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                                    td  $245.30 
                                    td  July 1, 2015 
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-3.png' alt='image')
                                    td  John Richards 
                                    td
                                        .progress
                                            .progress-bar.bg-warning(role='progressbar' style='width: 90%' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100')
                                    td  $138.00 
                                    td  Apr 12, 2015 
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-4.png' alt='image')
                                    td  Peter Meggik 
                                    td
                                        .progress
                                            .progress-bar.bg-primary(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                                    td  $ 77.99 
                                    td  May 15, 2015 
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-1.png' alt='image')
                                    td  Edward 
                                    td
                                        .progress
                                            .progress-bar.bg-danger(role='progressbar' style='width: 35%' aria-valuenow='35' aria-valuemin='0' aria-valuemax='100')
                                    td  $ 160.25 
                                    td  May 03, 2015 
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-2.png' alt='image')
                                    td  John Doe 
                                    td
                                        .progress
                                            .progress-bar.bg-info(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')
                                    td  $ 123.21 
                                    td  April 05, 2015 
                                tr
                                    td.py-1
                                        img(src='/assets/images/faces-clipart/pic-3.png' alt='image')
                                    td  Henry Tom 
                                    td
                                        .progress
                                            .progress-bar.bg-warning(role='progressbar' style='width: 20%' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                                    td  $ 150.00 
                                    td  June 16, 2015 


    .row.developer-form
        .col-12.grid-margin
            .card
                .card-body
                    h4.card-title Basic 
                    form.form-sample(method="post" action="/admin/developers" enctype="multipart/form-data")
                        p.card-description  Personal Info
                        input(type="hidden" name="_csrf" value=csrfToken) 
                        .row
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label(for='first_name') First Name
                                    .col-sm-9
                                        input#first_name.form-control(type='text' placeholder="First Name" name="first_name" )
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label(for='last_name') Last Name
                                    .col-sm-9
                                        input#last_name.form-control(type='text' placeholder="Last Name" name="last_name" )
                        .row
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label(for='email') Email
                                    .col-sm-9
                                        input#email.form-control(type='text' placeholder="Email" name="email" )
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label Date of Birth
                                    .col-sm-9
                                        input.form-control(placeholder='dd/mm/yyyy' name="dob" )
                        .row
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label(for='phone') Phone
                                    .input-group.col-sm-9
                                        .input-group-prepend
                                        span.input-group-text +91
                                        input.form-control(type='text' name="number" placeholder='Phone' )
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label(for='website') Website
                                    .col-sm-9
                                        input#website.form-control(type='text' placeholder="Website" name="website")

                        .row                            
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label Type
                                    .col-sm-4
                                        .form-check
                                            label.form-check-label
                                                input#freelancer.form-check-input(type='radio' name='membertype' value='' checked='')
                                                |  Freelancer 
                                                i.input-helper
                                    .col-sm-5
                                        .form-check
                                            label.form-check-label
                                                input#professional.form-check-input(type='radio' name='membertype' value='option2')
                                                |  Professional 
                                                i.input-helper
                        p.card-description  Address 
                        .row
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label Line1
                                    .col-sm-9
                                        input.form-control(type='text' name="address[line1]" )
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label Postcode
                                    .col-sm-9
                                        input.form-control(type='text' name="address[postcode]" )
                        .row
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label City
                                    .col-sm-9
                                        input.form-control(type='text' name="address[city]" )
                            .col-md-6
                                .form-group.row
                                    label.col-sm-3.col-form-label Country
                                    .col-sm-9
                                        select.form-control(name="address[country]" )
                                            option(selected) India
                        .row 
                            .form-group.col-md-12.col-sm-12.col-xs-12
                                label File upload
                                input.file-upload-default(type='file' name='avatar' )
                                .input-group.col-xs-12
                                    input.form-control.file-upload-info(type='text' disabled='' placeholder='Upload Image')
                                    span.input-group-append
                                    button.file-upload-browse.btn.btn-primary(type='button') Upload

                        .row(style="justify-content: right;")
                            button.btn.btn-primary.mr-2.col-md-2(type='submit') Submit
                            button.btn.btn-dark.col-md-2(type='reset') Cancel
        .col-md-6.grid-margin.stretch-card
            .card
                .card-body
                    h4.card-title Social Media Links
                    form.form-sample(method='post' action='/admin/social')
                        .form-group
                            .input-group
                                input.form-control(type='text' name="twitter" placeholder='Twitter' aria-label="Recipient's username" aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-sm.btn-twitter(type='button')
                                        i.mdi.mdi-twitter 
                        .form-group
                            .input-group
                                input.form-control(type='text' name="facebook" placeholder='Facebook' aria-label="Recipient's username" aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-sm.btn-facebook(type='button')
                                        i.mdi.mdi-facebook
                        .form-group
                            .input-group
                                input.form-control(type='text' name='instagram' placeholder='Instagram' aria-label="Recipient's username" aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-sm.btn-instagram(type='button')
                                        i.mdi.mdi-instagram
                        .form-group
                            .input-group
                                input.form-control(type='text' name='linkedin' placeholder='LinkedIn' aria-label="Recipient's username" aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-sm.btn-linkedin(type='button')
                                        i.mdi.mdi-linkedin
                        .form-group
                            .input-group
                                input.form-control(type='text' name='skype' placeholder='Skype' aria-label="Recipient's username" aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-sm.btn-skype(type='button')
                                        i.mdi.mdi-skype
                        .row(style="justify-content: center;")
                                button.btn.btn-primary.mr-2(type='submit') Submit
                                button.btn.btn-dark(type='reset') Cancel




block scripts
    script(type="text/javascript").
        $('#add-developer').on('click',function(e) {
            $('.developer-table').toggle()
            $('.developer-form').toggle()
            })

        $(function() {
            $('.file-upload-browse').on('click', function() {
            var file = $(this).parent().parent().parent().find('.file-upload-default');
            file.trigger('click');
            });
            $('.file-upload-default').on('change', function() {
            $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
            });
        });
        $(document).ready(function(){ 
            $('.developer-form').show()
             $('.developer-table').hide()
        })

