doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Kshitij Portfolio
    meta(content='', name='description')
    meta(content='', name='keywords')
    // Favicons
    link(href='/img/favicon.png', rel='icon')
    link(href='/img/apple-touch-icon.png', rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    // Vendor CSS Files
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/icofont/icofont.min.css', rel='stylesheet')
    link(href='/remixicon/remixicon.css', rel='stylesheet')
    link(href='/owl.carousel/assets/owl.carousel.min.css', rel='stylesheet')
    link(href='/boxicons/css/boxicons.min.css', rel='stylesheet')
    link(href='/venobox/venobox.css', rel='stylesheet')
    // Template Main CSS File
    link(href='/css/style.css', rel='stylesheet')
  

//Header 
include ../partials/header

block content

//Footer
//- include ./partials/footer


script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
script(src='/jquery.easing/jquery.easing.min.js')
script(src='/php-email-form/validate.js')
script(src='/waypoints/jquery.waypoints.min.js')
script(src='/counterup/counterup.min.js')
script(src='/owl.carousel/owl.carousel.min.js')
script(src='/isotope-layout/isotope.pkgd.min.js')
script(src='/venobox/venobox.min.js')
// Template Main JS File
script(src='/js/main.js')

